@import url('https://fonts.googleapis.com/css?family=Lato:900');

$cardWidth: 90px;
$cardHeight: 126px;

html {
  background-color: #12355B;
  font-family: 'Lato', sans-serif;
}

.heart, .tile {
  fill: red;
}

.clover, .pike {
  fill: black;
}

#app {
  position: absolute;
  width: 100%;
  top: 10px;
  left: 0;
}
#container {
  position: relative;
  width: 770px;
  margin: 0 auto;
}
.congratulation {
  color: white;
  font-size: 2em;
  text-align: center;
}
.header {
  margin: 10px;
  height: $cardHeight;
}
.stock, .rest, .flop, .foundation {
  vertical-align: top;
  display: inline-block;
}
.rest {
  margin-right: 95px;
  
  .cardContainer {
    position: relative;
    width: 3px;
    perspective: 500px;
    display: inline-block;

    card {
      display: inline-block;
    }
  }
}
.flop {
  .cardContainer {
    position: relative;
    width: 30px;
    perspective: 500px;
    display: inline-block;

    card {
      display: inline-block;
    }
  }
}

.foundation {
  position: absolute;
  right: 10px;
  
  .pile {
    box-sizing: border-box;
    display: inline-block;
    margin-left: 20px;
    
    .cardContainer {
      position: absolute;
    }
  }
}
.tableau {
  white-space: nowrap;
  
  .pile {
    display: inline-block;
    margin: 10px;
    vertical-align: top;
    width: $cardWidth;
    
    .cardContainer {
      position: relative;
      height: 40px;
      perspective: 500px;
    }
  }
}

.cardFace, .dropTarget, .foundation > .pile {
  width: $cardWidth;
  height: $cardHeight;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px rgba(196,196,196,1);
}
.cardFace {
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
  backface-visibility: hidden;
  
  &.frontFace[draggable="true"] {
    cursor: grab;
  }
  
  &.backFace {
    background-color: lightgray;
    position: absolute;
    top: 0;
  }
  
  &.pointer {
    cursor: pointer;
  }
    
  h1 {
    font-size: 25px;
    display: inline-block;
    user-select: none;
    margin: 0;
    margin-right: 5px;
    
    &.HEART, &.TILE {
      color: red;
    }
    
    &.CLOVER, &.PIKE {
      color: black;
    }
  }
  
  .suitIcon {
    padding-left: 5px;
  }
}
.dropTarget {
  position: absolute;
  background-color: rgba(white, 0.3);
  h1 {
    user-select: none;
    margin: 0;
    color: #11937C;
    font-size: 25px;
    text-align: center;
    line-height: $cardHeight;
    vertical-align: middle;
  }
}