.status
    .state
.world
    .car
        .light.driver
        .light.passenger
        .wind-shield
        .tire.driver.front
        .tire.driver.rear
        .tire.passenger.front
        .tire.passenger.rear
    .grid
        .row
            .cell.road.corner.top.left
            .cell.road
            .cell.road
            .cell.road
            .cell.road
            .cell.road
            .cell.road
            .cell.road
            .cell.road
            .cell.road.corner.top.right
        .row
            .cell.road.vertical
            .cell.grass
            .cell.grass
            .cell.grass
            .cell.grass
            .cell.grass
            .cell.grass
            .cell.grass
            .cell.grass
            .cell.road.vertical
        .row
            .cell.road.vertical
            .cell.grass
            .cell.grass
            .cell.grass
            .cell.grass
            .cell.grass
            .cell.grass
            .cell.grass
            .cell.grass
            .cell.road.vertical
        .row
            .cell.road.corner.bottom.left
            .cell.road
            .cell.road
            .cell.road
            .cell.road
            .cell.road
            .cell.road
            .cell.road
            .cell.road
            .cell.road.corner.bottom.right
    .controls
        .control.lights(title="Lights") L
        .control.left(title="Left") &#9668;
        .control.right(title="Right") &#9658;
        .control.down(title="Up") &#9660;
        .control.up(title="Down") &#9650;